.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 99;
    display: none;
}

.popup1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 300px auto 0 auto;
    width: 473px;
    height: 224px;
    background-color: #006AB4;
    color: #000;
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.yakor {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

.closePayments1, .closePayments2 {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.usernameQueryResult {
    color: white;
    margin-top: 20px;
    margin-bottom: -20px;
}

.popup-content {
    display: flex;
    align-items: center;
}

.popup-content input {
    width: 305px;
    height: 47px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 22px;
}

.popup-content button {
    height: 51px;
    width: 51px;
    border-radius: 50px;
    border: none;
    margin-left: 13px;
    background-color: #006AB4;
    box-shadow: 0 0 25px rgb(2, 62, 105);
    transition: all .2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content button:hover {
    background-color: rgb(0, 85, 146);
    box-shadow: 0 0 25px  rgb(1, 44, 75);
}

.popup2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 170px auto 0 auto;
    width: 680px;
    height: 470px;
    background-color: #006AB4;
    color: #000;
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    display: none;
}

.popup2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 385px;
    overflow: auto;
    /*padding-top: 80px;*/
}

.nopayments {
    font-size: 26px;
    color: hsl(0, 0%, 85%);
    position: relative;
    /* display: none; */
    padding-bottom: 160px;
}

.payments {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.nopayments::before {
    content: '';
    position: absolute;
    width: 139px;
    height: 1px;
    background-color: hsl(0, 0%, 85%);
    left: -150px;
    top: 14px;
}

.nopayments::after {
    content: '';
    position: absolute;
    width: 139px;
    height: 1px;
    background-color: hsl(0, 0%, 85%);
    right: -150px;
    top: 14px;
}

.payment {
    color: #eeeeef;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #131550;
    box-sizing: border-box;
    padding-bottom: 18px;
    margin-top: 18px;
}

.payment p {
    margin: 0;
}

.payment-number {
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 2.5%;
    word-break: break-word;
    width: 20%;
}

.payment-bill {
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 2.5%;
    word-break: break-word;
    width: 10%;
}

.payment-username {
    font-size: 17px;
    margin-right: 2.5%;
    word-break: break-word;
    width: 20%;
}

.payment-date {
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 58px;
}

.payment-status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
    height: 27px;
    width: 78px;
    background-color: #de2450;
    border-radius: 5px;
    margin-right: 85px;
}

.payment-status p {
    margin: 0;
}

.payment-action {
    width: 20%;
    display: flex;
    justify-content: center;
}

.payment-action button {
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 110px;
    height: 30px;
    background-color: #ff6600;
}

#computerbtn {
    width: 160px;
}

.nav-btn {
    background-color: #fff !important;
    font-size: 15px;
    transition: all .2s ease;
    color: #000 !important;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.nav-btn:hover {
    background-color: #44027e;
}

@media all and (max-width: 1020px) {
    
}

@media all and (max-width: 991px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media all and (max-width: 450px) {
    .popup1 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 170px auto 0 auto;
        width: 380px;
        height: 180px;
        background-color: #050624;
        color: #000;
        z-index: 9999;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        
    }
    
    .popup-content input {
        width: 275px;
        height: 47px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        padding-left: 22px;
    }
    
    .popup-content button {
        height: 51px;
        width: 51px;
        border-radius: 50px;
        border: none;
        margin-left: 13px;
        background-color: #5d00ac;
        box-shadow: 0 0 25px rgba(93,0,172,1);
    }
    
    .yakor {
        position: absolute;
        top: -75px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
    }
    
    .popup2 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 130px auto 0 auto;
        width: 380px;
        height: 450px;
        background-color: #050624;
        color: #000;
        z-index: 9999;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        display: none;
    }
    
    .popup2-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 350px;
        overflow: auto;
        padding-top: 300px;
    }
    
    .nopayments {
        font-size: 18px;
        color: #9c9c9d;
        position: relative;
        margin-bottom: 80px;
    }
    
    .nopayments::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #3f3f52;
        left: -60px;
        top: 12px;
    }
    
    .nopayments::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #3f3f52;
        right: -60px;
        top: 12px;
    }
    
    .payment {
        color: #9c9c9d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #131550;
        box-sizing: border-box;
        padding-bottom: 18px;
        margin-top: 18px;
    }
    
    .payment-number {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .payment-bill {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .payment-date {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .payment-status {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .payment-status p {
        margin: 0;
    }
    
    .payment-action button {
        font-size: 12px;
        color: #fff;
        border-radius: 5px;
        border: none;
        width: 110px;
        height: 30px;
        background-color: #ff6600;
        margin-bottom: 10px;
    }
    
}

@media all and (max-width: 375px) {
    .popup1 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 170px auto 0 auto;
        width: 350px;
        height: 180px;
        background-color: #050624;
        color: #000;
        z-index: 9999;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        
    }
    
    .popup-content input {
        width: 230px;
        height: 47px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        padding-left: 22px;
    }
    
    .popup-content button {
        height: 51px;
        width: 51px;
        border-radius: 50px;
        border: none;
        margin-left: 13px;
        background-color: #5d00ac;
        box-shadow: 0 0 25px rgba(93,0,172,1);
    }
    
    .yakor {
        position: absolute;
        top: -75px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media all and (max-width: 360px) {
    .popup1 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 170px auto 0 auto;
        width: 280px;
        height: 170px;
        background-color: #050624;
        color: #000;
        z-index: 9999;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        
    }
    
    .popup-content input {
        width: 180px;
        height: 47px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        padding-left: 22px;
    }
    
    .popup-content button {
        height: 51px;
        width: 51px;
        border-radius: 50px;
        border: none;
        margin-left: 13px;
        background-color: #5d00ac;
        box-shadow: 0 0 25px rgba(93,0,172,1);
    }
    
    .yakor {
        position: absolute;
        top: -75px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
    }
    
    .popup2 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 130px auto 0 auto;
        width: 300px;
        height: 450px;
        background-color: #050624;
        color: #000;
        z-index: 9999;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        display: none;
    }
}

footer {
    background-size: 100vw 1200px;
}

.agreement {
    color: #000;
    font-size: 18px;
    margin: 120px 200px 500px 200px;
}

.footer__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    opacity: .68;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 100px;
}

.footer__links a {
    text-decoration: none;
    color: #fff;
}

.footer__copyright {
    font-size: 16px;
}

@media all and (max-width: 950px) {
    .agreement {
        color: #000;
        font-size: 16px;
        margin: 120px 100px 500px 100px;
    }
}

@media all and (max-width: 600px) {
    .agreement {
        color: #000;
        font-size: 14px;
        margin: 120px 80px 450px 80px;
    }
}

@media all and (max-width: 500px) {
    .splash-body h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .splash-body h4 {
        font-size: 14px;
    }
}

@media all and (max-width: 350px) {
    .agreement {
        color: #000;
        font-size: 13px;
        margin: 120px 50px 450px 50px;
    }
}